*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  padding: 2.5% 1em;
  margin: 0 auto;
  height: 90%;
  gap: 5em;
}

@media (min-width: 800px) {
  main {
    max-width: 150em;
    width: 80%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  main {
    width: 100%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0;
}

section .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.material-icons {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#volumeControl {
  position: absolute;
  right: 0;
}

#OLD-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  justify-self: flex-end;
  cursor: pointer;
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: brown;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px dashed white;
  background-clip: content-box;
  background-image: conic-gradient(white 0deg, white 72deg, red 0deg, red 144deg, green 0deg, green 216deg, blue 0deg, blue 288deg, blueviolet 0deg, blueviolet 360deg);
}

#OLD-wheel--decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: 0 0 2px 5px black, 0 0 0 24px brown, 0 0 10px 30px #0003, 0 0 8px 30px #0002, 0 0 0 40px darkorange;
          box-shadow: 0 0 2px 5px black, 0 0 0 24px brown, 0 0 10px 30px #0003, 0 0 8px 30px #0002, 0 0 0 40px darkorange;
}

@media (min-width: 800px) {
  #OLD-wheel--decoration {
    width: 85%;
    height: auto;
  }
}

@media (max-width: 800px) {
  #OLD-wheel--decoration {
    height: 85%;
    width: auto;
  }
}

#OLD-wheel--center {
  position: absolute;
  width: 15%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px black;
          box-shadow: 0 0 0 5px black;
  background-color: white;
  pointer-events: none;
}

#OLD-wheel span {
  font-size: 2.5vmin;
  position: absolute;
  left: 47.5%;
  height: 50%;
  top: 0;
  text-align: start;
  padding-top: 0.1em;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  text-indent: 5%;
}

#OLD-wheel .separator {
  width: 4px;
  height: calc(50% + 8px);
  background-color: #0009;
  position: absolute;
  top: -8px;
  left: calc(50% - 2px);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.wheel-decoration {
  position: absolute;
  background: brown;
  -webkit-box-shadow: 0 0 0 10px black;
          box-shadow: 0 0 0 10px black;
  border-radius: 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  z-index: -1;
}

.arrow {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1.5em solid transparent;
  border-bottom: none;
  border-top: 2.5em solid brown;
  margin: auto;
  margin-bottom: 100%;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1em solid transparent;
  border-bottom: none;
  border-top: 2em solid #000e;
  right: -16px;
  top: -36px;
}

#inputs {
  font-size: 1.2em;
  font-family: cursive;
  width: 100%;
  min-height: 10em;
  height: 70%;
  min-height: 10em;
  resize: none;
  padding: 1em;
  background-image: repeating-conic-gradient(#ddceb3 0turn 0.125turn, #e5d9c5 0.125turn 0.375turn, #ddceb3 0.375turn 0.625turn, #e5d9c5 0.625turn 0.875turn, #ddceb3 0.875turn 1turn);
  background-size: 0.75em 0.75em;
  border: none;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.167);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.167);
}

.right::after {
  content: "OPTIONS";
  position: absolute;
  top: 10%;
  font-size: 1.75rem;
  font-family: "Times New Roman", Times, serif;
  background-color: brown;
  color: white;
  width: 110%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid black;
  -webkit-box-shadow: 0 0 0 5px brown, 0 5px 5px black;
          box-shadow: 0 0 0 5px brown, 0 5px 5px black;
}

.right::before {
  content: "";
  position: absolute;
  top: 13%;
  background-color: brown;
  width: 130%;
  height: 3.75rem;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 4% 50%);
          clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 4% 50%);
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
}

.winner-screen {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0009;
  cursor: pointer;
  display: none;
}

.winner-screen .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightgray;
  width: 30em;
  max-width: 90%;
  height: 15em;
}

.winner-screen .inner span {
  color: black;
  font-size: 2em;
  margin: 0.5em 0;
}
/*# sourceMappingURL=style.css.map */